.graphic__container{
    max-width: 1220px;
    display: flex;
    padding: 5% 0;
    align-items: center;
    justify-content: center;
    color: #c0c0c0;

}

.graphic__component{
    width: 50%;
    padding: 2%;
}

.graphic__component img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

.graphic__component h2{
    padding-bottom: 5%;
    font-size: 200%;

}

.graphic__component h1{
    font-weight: 900;
    color: #012147;
    font-size: 300%;
    
}

.graphic__component h4{
    padding: 0 0 20px 0;
    /* color: #012147; */
}
.graphic__component p{
    text-align: justify;
}

@media screen and (max-width:1000px) {
    .graphic__container{
        display: block;
        padding-right: 13%;
    }

    .graphic__component{
        width: 100%;
        margin: 0 5%;
        
    }
    
}