.header__title{
    height: 60vh;
    background: linear-gradient(180deg, rgba(0,33,71,1) 0%, rgba(7,0,107,1) 100%);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.header__title__component{
    color: #c0c0c0;
}
