.services__alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services__raw{
    display: flex;
    padding: 0 5% 0 5%;
    text-align: center;
    max-width: 1200px;
}

.service__component{

    margin: 1%;
    /* background-color: #00aeff; */
    box-shadow: 0 0  6px  #e4e4e4;
    padding: 2%;
    border-radius: 10px;
    width: 30%;


}
.service__component:hover{

    margin: 1%;
    /* background-color: #00aeff; */
    box-shadow: 0 0  10px  #84c4ff;
    padding: 2%;
    border-radius: 10px;
    width: 30%;


}

.service__component img{
    height: 200px;
    width: auto;
    padding: 5px;
    margin-bottom: 10px;

}

.service__component p{
    text-align: justify;
    color: rgb(143, 143, 143);

    
}

.service__component h3{
    padding-bottom: 10px;
    color: #002147;
    font-weight: 900;
}

@media screen and (max-width: 1000px) {
    .services__alignment{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services__raw{
        display: block;
        align-items: center;
        justify-content: center;

    }

    .service__component{
        width: 90%;
    }

    .service__component p{
        padding: 5%;
    }


    
}