@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap');

.nav-2{
    /* background-color: black; */
}

*{
    font-family: 'Inter','Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.title__container{
    text-align: center;
    /* font-weight: 900; */
    padding: 2% 0 2% 0;
}

.title__container h1{
    font-size: 250%;
    color: #002147;
    font-weight: 700;
}

.title__container h4{
    font-size: 120%;
    color: #c0c0c0;
    font-weight: 400;
}

.title__container hr{
    background-color: #0077ff;
    width: 15%;
    height: 2px;
    border-radius: 20%;
    margin: 1% 0 1% 42.5%;
}